* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #8db0e4;
    color: #212121;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.form-container {
    width: 100%;
    padding: 10px 0;

    position: fixed;
    background-color: #2a295d;
    z-index: 1;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-btn {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    background-color: #e6f0ff;
    border: thick double #8db0e4;
    border-radius: 10px;
    cursor: pointer;
}

.search-btn:hover,
.search-btn:focus,
.btn-add-load:hover,
.btn-add-load:focus {
    background-color: #041d42;
    color: #e6f0ff;
    transition: all 0.3s;
}

.btn-add-load.hidden {
    display: none;
}

.btn-add-load {
    display: block;
    margin: 20px auto 0 auto;
    padding: 8px 20px;
    border: thick double #8db0e4;
    border-radius: 10px;
    cursor: pointer;
    background-color: #e6f0ff;

    transition: all 0.3s;
}

.input {
    padding: 6px;
    margin-right: 10px;
    font: inherit;
    border: thick double #8db0e4;
    border-radius: 10px;
    font-size: 12px;
}

.input:focus {
    border: thick double #b3deef;
    ;
}

.gallery-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    padding-top: 60px;
    justify-content: center;

}

.gallery__item {
    margin-top: 20px;
    margin-left: 20px;
    min-width: 320px;
    flex-basis: calc((100% - 80px) / 4);
    border: 2px solid rgb(241, 238, 238);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
}

.gallery__item:hover {
    transform: scale(1.05);
}

.photo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.image {
    display: block;
    height: 30vh;
    object-fit: cover;
}

.info {
    padding: 10px;
    justify-content: space-around;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}

.info-item:not(:first-child) {
    margin-left: 10px;
}